<section class="our-menu page-section-pt parallax pb-30" style="background-image: url(assets/img/bg06.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="section-title text-center">
            <div class="title-separator">
              <i class="glyph-icon flaticon-food-27"></i>
            </div>
            <h2> <span class="text-orange">Welcome to</span> <span style="color:white;">The Khan</span></h2>
            <p>Whatever your occasion, We makes it one to remember!</p>
          </div>
          <div class="menu-section-title">
            <h2 class="mr-10">Check out our<span class="text-orange">  delicious menu</span>
             <img class="img-responsive img-setter " src="../assets/img/arrowmobile.png" alt=""></h2>
           
          </div>
        <div class="tabs clearfix">
          <!-- Nav tabs -->
          <ul class="tabs-link text-center nav nav-pills" id="menuTab">
            <li class="nav-item "><a href="#tab-1" class="nav-link"data-toggle="tab" aria-expanded="false"><i class="glyph-icon flaticon-hot-mug-doodle"></i> Breakfast</a></li>
            <li class="nav-item"><a href="#tab-2" class="nav-link" data-toggle="tab" aria-expanded="false"><i class="glyph-icon flaticon-food-36"></i> Lunch</a></li>
            <li class="nav-item"><a href="#tab-3" class="nav-link" data-toggle="tab" aria-expanded="false"><i class="glyph-icon flaticon-food-9"></i> Dinner</a></li>
            <li class="nav-item"><a href="#tab-4" class="nav-link" data-toggle="tab" aria-expanded="true"><i class="glyph-icon flaticon-foamy-beer-jar"></i> Drinks</a></li>
          </ul>
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade" id="tab-1">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="menu-body menu-left">
                    <div class="menu-thumbnail">
                      <img class="img-responsive center-block" src="../assets/img/01.png" alt="">
                    </div>
                    <div class="menu-details">
                      <div class="menu-title clearfix">
                        <h4>Breakfast Complete</h4>
                        <span class="price">$99.0</span>
                      </div>
                      <div class="menu-description">
                        <p>Salmon fillet in a rich red curry with coconut milk, sweet basil leaves ,pea aubergine, and kaffir lime leaves</p>
                      </div>
                    </div>
                  </div>
                  <div class="menu-body menu-left">
                    <div class="menu-thumbnail">
                      <img class="img-responsive center-block" src="../../assets/img/02.png" alt="">
                    </div>
                    <div class="menu-details">
                      <div class="menu-title clearfix">
                        <h4>French Toast</h4>
                        <span class="price">$99.0</span>
                      </div>
                      <div class="menu-description">
                        <p>The famous hot, sour and spicy thai soup with king prawn, shimeji mushrooms, lemongrass, and lime leaf</p>
                      </div>
                    </div>
                  </div>
                  <div class="menu-body menu-left">
                    <div class="menu-thumbnail">
                      <img class="img-responsive center-block" src="../../assets/img/03.png" alt="">
                    </div>
                    <div class="menu-details">
                      <div class="menu-title clearfix">
                        <h4>Crepe Complete</h4>
                        <span class="price">$99.0</span>
                      </div>
                      <div class="menu-description">
                        <p>Thai rice noodles stir-fried with bean curd, chinese chives, peanuts and beans sprouts in a special homemade sauce</p>
                      </div>
                    </div>
                  </div>
                  <div class="menu-body menu-left">
                    <div class="menu-thumbnail">
                      <img class="img-responsive center-block" src="../../assets/img/04.png" alt="">
                    </div>
                    <div class="menu-details">
                      <div class="menu-title clearfix">
                        <h4>Vegetarian Breakfast</h4>
                        <span class="price">$99.0</span>
                      </div>
                      <div class="menu-description">
                        <p>Stir fried king prawn, tender stem broccoli and asparagus with oyster sauce. Deep-fried mince prawn</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="menu-body menu-left">
                    <div class="menu-thumbnail">
                      <img class="img-responsive center-block" src="../../assets/img/05.png" alt="">
                    </div>
                    <div class="menu-details">
                      <div class="menu-title clearfix">
                        <h4>French Breakfast</h4>
                        <span class="price">$99.0</span>
                      </div>
                      <div class="menu-description">
                        <p>Grill boneless corn-fed chicken, marinated in coconut milk, lemongrass, galangal, turmeric and lime leaves</p>
                      </div>
                    </div>
                  </div>
                  <div class="menu-body menu-left">
                    <div class="menu-thumbnail">
                      <img class="img-responsive center-block" src="../../assets/img/06.png" alt="">
                    </div>
                    <div class="menu-details">
                      <div class="menu-title clearfix">
                        <h4>Eggs Benedict</h4>
                        <span class="price">$99.0</span>
                      </div>
                      <div class="menu-description">
                        <p>Grill sirloin beef with cracked black pepper. Served with green salad and sweet and sour sauce on the side</p>
                      </div>
                    </div>
                  </div>
                  <div class="menu-body menu-left">
                    <div class="menu-thumbnail">
                      <img class="img-responsive center-block" src="../../assets/img/07.png" alt="">
                    </div>
                    <div class="menu-details">
                      <div class="menu-title clearfix">
                        <h4>English Breakfast</h4>
                        <span class="price">$99.0</span>
                      </div>
                      <div class="menu-description">
                        <p>Tender stem broccoli and asparagus with oyster sauce. Stir fried king prawn. Lime mousse with mango ganache</p>
                      </div>
                    </div>
                  </div>
                  <div class="menu-body menu-left">
                    <div class="menu-thumbnail">
                      <img class="img-responsive center-block" src="../../assets/img/08.png" alt="">
                    </div>
                    <div class="menu-details">
                      <div class="menu-title clearfix">
                        <h4>Barrel's Breakfast</h4>
                        <span class="price">$99.0</span>
                      </div>
                      <div class="menu-description">
                        <p>With chopped vegetables, served with plum sauce. Tossed in peppercorns and spiced salt</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="tab-2">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="menu-body menu-left">
                    <div class="menu-thumbnail">
                      <img class="img-responsive center-block" src="../../assets/img/09.png" alt="">
                    </div>
                    <div class="menu-details">
                      <div class="menu-title clearfix">
                        <h4>Shrimp and Grits</h4>
                        <span class="price">$99.0</span>
                      </div>
                      <div class="menu-description">
                        <p>With peppercorns and spiced salt, delicately battered. Tossed in peppercorns and spiced salsa</p>
                      </div>
                    </div>
                  </div>
                  <div class="menu-body menu-left">
                    <div class="menu-thumbnail">
                      <img class="img-responsive center-block" src="../../assets/img/10.png" alt="">
                    </div>
                    <div class="menu-details">
                      <div class="menu-title clearfix">
                        <h4>Spring Salad</h4>
                        <span class="price">$99.0</span>
                      </div>
                      <div class="menu-description">
                        <p>Salmon fillet in a rich red curry with coconut milk, sweet basil leaves ,pea aubergine, and kaffir lime leaves</p>
                      </div>
                    </div>
                  </div>
                  <div class="menu-body menu-left">
                    <div class="menu-thumbnail">
                      <img class="img-responsive center-block" src="../../assets/img/11.png" alt="">
                    </div>
                    <div class="menu-details">
                      <div class="menu-title clearfix">
                        <h4>Fried Chicken Breast</h4>
                        <span class="price">$99.0</span>
                      </div>
                      <div class="menu-description">
                        <p>The famous hot, sour and spicy thai soup with king prawn, shimeji mushrooms, lemongrass, and lime leaf</p>
                      </div>
                    </div>
                  </div>
                  <div class="menu-body menu-left">
                    <div class="menu-thumbnail">
                      <img class="img-responsive center-block" src="../../assets/img/12.png" alt="">
                    </div>
                    <div class="menu-details">
                      <div class="menu-title clearfix">
                        <h4>Seafood Pasta</h4>
                        <span class="price">$99.0</span>
                      </div>
                      <div class="menu-description">
                        <p>Thai rice noodles stir-fried with bean curd, chinese chives, peanuts and beans sprouts in a special homemade sauce</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="menu-body menu-left">
                    <div class="menu-thumbnail">
                      <img class="img-responsive center-block" src="../../assets/img/13.png" alt="">
                    </div>
                    <div class="menu-details">
                      <div class="menu-title clearfix">
                        <h4>She Crab Soup</h4>
                        <span class="price">$99.0</span>
                      </div>
                      <div class="menu-description">
                        <p>Stir fried king prawn, tender stem broccoli and asparagus with oyster sauce. Deep-fried mince prawn</p>
                      </div>
                    </div>
                  </div>
                  <div class="menu-body menu-left">
                    <div class="menu-thumbnail">
                      <img class="img-responsive center-block" src="../../assets/img/14.png" alt="">
                    </div>
                    <div class="menu-details">
                      <div class="menu-title clearfix">
                        <h4>Black Bean Soup</h4>
                        <span class="price">$99.0</span>
                      </div>
                      <div class="menu-description">
                        <p>Grill boneless corn-fed chicken, marinated in coconut milk, lemongrass, galangal, turmeric and lime leaves</p>
                      </div>
                    </div>
                  </div>
                  <div class="menu-body menu-left">
                    <div class="menu-thumbnail">
                      <img class="img-responsive center-block" src="../../assets/img/15.png" alt="">
                    </div>
                    <div class="menu-details">
                      <div class="menu-title clearfix">
                        <h4>Turkey Melt</h4>
                        <span class="price">$99.0</span>
                      </div>
                      <div class="menu-description">
                        <p>Grill sirloin beef with cracked black pepper. Served with green salad and sweet and sour sauce on the side</p>
                      </div>
                    </div>
                  </div>
                  <div class="menu-body menu-left">
                    <div class="menu-thumbnail">
                      <img class="img-responsive center-block" src="../../assets/img/16.png" alt="">
                    </div>
                    <div class="menu-details">
                      <div class="menu-title clearfix">
                        <h4>Lobster Roll</h4>
                        <span class="price">$99.0</span>
                      </div>
                      <div class="menu-description">
                        <p>Tender stem broccoli and asparagus with oyster sauce. Stir fried king prawn. Lime mousse with mango ganache</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="tab-3">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="menu-body menu-left">
                    <div class="menu-thumbnail">
                      <img class="img-responsive center-block" src="../../assets/img/01.png" alt="">
                    </div>
                    <div class="menu-details">
                      <div class="menu-title clearfix">
                        <h4>Caesar Salad</h4>
                        <span class="price">$99.0</span>
                      </div>
                      <div class="menu-description">
                        <p>With chopped vegetables, served with plum sauce. Tossed in peppercorns and spiced salt</p>
                      </div>
                    </div>
                  </div>
                  <div class="menu-body menu-left">
                    <div class="menu-thumbnail">
                      <img class="img-responsive center-block" src="../../assets/img/02.png" alt="">
                    </div>
                    <div class="menu-details">
                      <div class="menu-title clearfix">
                        <h4>Mixed Greens Salad</h4>
                        <span class="price">$99.0</span>
                      </div>
                      <div class="menu-description">
                        <p>With peppercorns and spiced salt, delicately battered. Tossed in peppercorns and spiced salsa</p>
                      </div>
                    </div>
                  </div>
                  <div class="menu-body menu-left">
                    <div class="menu-thumbnail">
                      <img class="img-responsive center-block" src="../../assets/img/03.png" alt="">
                    </div>
                    <div class="menu-details">
                      <div class="menu-title clearfix">
                        <h4>Pork Belly</h4>
                        <span class="price">$99.0</span>
                      </div>
                      <div class="menu-description">
                        <p>Salmon fillet in a rich red curry with coconut milk, sweet basil leaves ,pea aubergine, and kaffir lime leaves</p>
                      </div>
                    </div>
                  </div>
                  <div class="menu-body menu-left">
                    <div class="menu-thumbnail">
                      <img class="img-responsive center-block" src="../../assets/img/04.png" alt="">
                    </div>
                    <div class="menu-details">
                      <div class="menu-title clearfix">
                        <h4>Peach Gazpacho</h4>
                        <span class="price">$99.0</span>
                      </div>
                      <div class="menu-description">
                        <p>The famous hot, sour and spicy thai soup with king prawn, shimeji mushrooms, lemongrass, and lime leaf</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="menu-body menu-left">
                    <div class="menu-thumbnail">
                      <img class="img-responsive center-block" src="../../assets/img/05.png" alt="">
                    </div>
                    <div class="menu-details">
                      <div class="menu-title clearfix">
                        <h4>Veal Chop</h4>
                        <span class="price">$99.0</span>
                      </div>
                      <div class="menu-description">
                        <p>Thai rice noodles stir-fried with bean curd, chinese chives, peanuts and beans sprouts in a special homemade sauce</p>
                      </div>
                    </div>
                  </div>
                  <div class="menu-body menu-left">
                    <div class="menu-thumbnail">
                      <img class="img-responsive center-block" src="../../assets/img/06.png" alt="">
                    </div>
                    <div class="menu-details">
                      <div class="menu-title clearfix">
                        <h4>Wood Roasted Salmon</h4>
                        <span class="price">$99.0</span>
                      </div>
                      <div class="menu-description">
                        <p>Stir fried king prawn, tender stem broccoli and asparagus with oyster sauce. Deep-fried mince prawn</p>
                      </div>
                    </div>
                  </div>
                  <div class="menu-body menu-left">
                    <div class="menu-thumbnail">
                      <img class="img-responsive center-block" src="../../assets/img/07.png" alt="">
                    </div>
                    <div class="menu-details">
                      <div class="menu-title clearfix">
                        <h4>Pan Seared Chicken</h4>
                        <span class="price">$99.0</span>
                      </div>
                      <div class="menu-description">
                        <p>Grill boneless corn-fed chicken, marinated in coconut milk, lemongrass, galangal, turmeric and lime leaves</p>
                      </div>
                    </div>
                  </div>
                  <div class="menu-body menu-left">
                    <div class="menu-thumbnail">
                      <img class="img-responsive center-block" src="../../assets/img/08.png" alt="">
                    </div>
                    <div class="menu-details">
                      <div class="menu-title clearfix">
                        <h4>Butter Poached Lobster</h4>
                        <span class="price">$99.0</span>
                      </div>
                      <div class="menu-description">
                        <p>Grill sirloin beef with cracked black pepper. Served with green salad and sweet and sour sauce on the side</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane fade active in" id="tab-4">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="menu-body menu-left">
                    <div class="menu-thumbnail">
                      <img class="img-responsive center-block" src="../../assets/img/09.png" alt="">
                    </div>
                    <div class="menu-details">
                      <div class="menu-title clearfix">
                        <h4>Raspberry Iced Tea</h4>
                        <span class="price">$99.0</span>
                      </div>
                      <div class="menu-description">
                        <p>Tender stem broccoli and asparagus with oyster sauce. Stir fried king prawn. Lime mousse with mango ganache</p>
                      </div>
                    </div>
                  </div>
                  <div class="menu-body menu-left">
                    <div class="menu-thumbnail">
                      <img class="img-responsive center-block" src="../../assets/img/10.png" alt="">
                    </div>
                    <div class="menu-details">
                      <div class="menu-title clearfix">
                        <h4>Black Iced Tea</h4>
                        <span class="price">$99.0</span>
                      </div>
                      <div class="menu-description">
                        <p>With chopped vegetables, served with plum sauce. Tossed in peppercorns and spiced salt</p>
                      </div>
                    </div>
                  </div>
                  <div class="menu-body menu-left">
                    <div class="menu-thumbnail">
                      <img class="img-responsive center-block" src="../../assets/img/11.png" alt="">
                    </div>
                    <div class="menu-details">
                      <div class="menu-title clearfix">
                        <h4>Arnold Palmer</h4>
                        <span class="price">$99.0</span>
                      </div>
                      <div class="menu-description">
                        <p>With peppercorns and spiced salt, delicately battered. Tossed in peppercorns and spiced salsa</p>
                      </div>
                    </div>
                  </div>
                  <div class="menu-body menu-left">
                    <div class="menu-thumbnail">
                      <img class="img-responsive center-block" src="../../assets/img/12.png" alt="">
                    </div>
                    <div class="menu-details">
                      <div class="menu-title clearfix">
                        <h4>Coffee</h4>
                        <span class="price">$99.0</span>
                      </div>
                      <div class="menu-description">
                        <p>Salmon fillet in a rich red curry with coconut milk, sweet basil leaves ,pea aubergine, and kaffir lime leaves</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                  <div class="menu-body menu-left">
                    <div class="menu-thumbnail">
                      <img class="img-responsive center-block" src="../../assets/img/13.png" alt="">
                    </div>
                    <div class="menu-details">
                      <div class="menu-title clearfix">
                        <h4>Loose Leaf Teas</h4>
                        <span class="price">$99.0</span>
                      </div>
                      <div class="menu-description">
                        <p>The famous hot, sour and spicy thai soup with king prawn, shimeji mushrooms, lemongrass, and lime leaf</p>
                      </div>
                    </div>
                  </div>
                  <div class="menu-body menu-left">
                    <div class="menu-thumbnail">
                      <img class="img-responsive center-block" src="../../assets/img/14.png" alt="">
                    </div>
                    <div class="menu-details">
                      <div class="menu-title clearfix">
                        <h4>Red Bull</h4>
                        <span class="price">$99.0</span>
                      </div>
                      <div class="menu-description">
                        <p>Thai rice noodles stir-fried with bean curd, chinese chives, peanuts and beans sprouts in a special homemade sauce</p>
                      </div>
                    </div>
                  </div>
                  <div class="menu-body menu-left">
                    <div class="menu-thumbnail">
                      <img class="img-responsive center-block" src="../../assets/img/15.png" alt="">
                    </div>
                    <div class="menu-details">
                      <div class="menu-title clearfix">
                        <h4>San Pellegrino</h4>
                        <span class="price">$99.0</span>
                      </div>
                      <div class="menu-description">
                        <p>Stir fried king prawn, tender stem broccoli and asparagus with oyster sauce. Deep-fried mince prawn</p>
                      </div>
                    </div>
                  </div>
                  <div class="menu-body menu-left">
                    <div class="menu-thumbnail">
                      <img class="img-responsive center-block" src="../../assets/img/16.png" alt="">
                    </div>
                    <div class="menu-details">
                      <div class="menu-title clearfix">
                        <h4>Saratoga</h4>
                        <span class="price">$99.0</span>
                      </div>
                      <div class="menu-description">
                        <p>Grill boneless corn-fed chicken, marinated in coconut milk, lemongrass, galangal, turmeric and lime leaves</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>